
name: Release 

on:
  push:
    tags:
      - '*'
jobs:
  goreleaser:
    container:
      image: openintegration/testing
      credentials:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Registry
        run: |
          echo "${{ secrets.DOCKERHUB_PASSWORD }}" | \
          docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make release-binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GT_RELEASE_TOKEN }}